@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
body {
  background-color: #d4d4d4;
  font-family: "Droid Serif", Helvetica, Arial, Sans-Serif;
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  font-family: "Droid Sans", Helvetica, Arial, Sans-Serif;
  font-weight: bold;
}
.page {
  display: block;
  margin: 0px;
  padding: 0px;
}
.page:nth-child(1) {
  background-color: #ffd400;
  height: 640px;
}
.page:nth-child(1) .row {
  border-bottom: 1px solid #ffe97f;
  padding: 15px 45px;
}
.page:nth-child(1) .row .col-md-6 {
  height: 72px;
}
.page:nth-child(1) header h1 {
  background-image: url('/images/icon.png');
  background-position: center left;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 48px;
  padding-left: 1.2em;
}
.page:nth-child(1) nav {
  font-family: "Droid Sans", Helvetica, Arial, Sans-Serif;
  font-size: 18px;
  text-align: right;
}
.page:nth-child(1) nav ul {
  list-style-type: none;
  padding-top: 40px;
}
.page:nth-child(1) nav ul li {
  display: inline-block;
  margin: 0px 10px;
}
.page:nth-child(1) nav ul li a {
  color: #000000;
  padding: 10px 15px;
}
.page:nth-child(1) nav ul li a:hover {
  background-color: #ffe97f;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
}
.scroll {
  position: fixed;
}
.scroll#start {
  bottom: 20px;
  left: 50%;
  width: 240px;
  margin-left: -120px;
  z-index: 100;
  color: #ffffff;
  text-align: center;
  text-shadow: 0px 1px #999999;
}
.scroll#start h2 {
  font-size: 36px;
  margin: 0px;
  padding: 0px;
}
.scroll#start .glyphicon {
  font-size: 24px;
}
.scroll#developer {
  top: 240px;
  left: 100px;
  z-index: 3;
}
.scroll#app {
  top: 410px;
  left: 360px;
  z-index: 4;
}
.scroll#app img {
  width: 64px;
}
.scroll#cloud {
  top: -300px;
  left: 450px;
  z-index: 2;
}
.scroll#cloud img {
  width: 480px;
}
.scroll.user {
  display: none;
}
.scroll.user#user-1 {
  top: -100px;
  left: -100px;
  z-index: 1;
}
.scroll.user#user-2 {
  top: 240px;
  left: -160px;
  z-index: 3;
}
.scroll.user#user-3 {
  top: 640px;
  left: -100px;
  z-index: 3;
}
.scroll.user#user-4 {
  top: -200px;
  left: 900px;
  z-index: 1;
}
.scroll.user#user-5 {
  top: 320px;
  left: 1600px;
  z-index: 3;
}
.scroll.user#user-6 {
  top: 1000px;
  left: 960px;
  z-index: 3;
}
.scroll.dialog {
  display: none;
  z-index: 5;
}
.scroll.dialog#dialog-1 {
  top: 180px;
  left: 880px;
}
.scroll.dialog#dialog-2 {
  top: 100px;
  left: 520px;
}
.scroll.dialog#dialog-3 {
  top: 480px;
  left: 450px;
}
