@import url(http://fonts.googleapis.com/css?family=Droid+Sans:200,400,700);

@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
body {
  background-color: #d4d4d4;
  font-family: "Droid Serif", Helvetica, Arial, Sans-Serif;
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  font-family: "Droid Sans", Helvetica, Arial, Sans-Serif;
  font-weight: bold;
}
.page {
  display: block;
  margin: 0px;
  padding: 0px;
}
.page#home {
  background-color: #ffd400;
  height: 640px;
}
.page#home nav > ul > li > a:hover:not(.active) {
  background-color: #ffe97f;
}
.page#home nav > ul > li > a.active {
  color: #ffd400;
}
.page:nth-child(2) {
  height: 93000px;
}
.page:nth-child(3) {
  background-color: #19aeff;
  height: 800px;
}
.page#end {
  background-color: #19aeff;
  height: 700px;
}
.page#end header h1 {
  background-image: url('/images/icon-colored.png');
}
.page#end nav > ul > li > a:hover:not(.active) {
  background-color: #8bd6ff;
}
.page#end nav > ul > li > a.active {
  color: #19aeff;
}
.page.home .row:first-child {
  padding: 15px 45px;
}
.page.home .row:first-child .col-md-6 {
  height: 72px;
}
.page.home header h1 {
  background-image: url('/images/icon.png');
  background-position: center left;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 48px;
  padding-left: 1.2em;
}
.page.home nav {
  font-family: "Droid Sans", Helvetica, Arial, Sans-Serif;
  font-size: 18px;
  text-align: right;
}
.page.home nav ul {
  list-style-type: none;
  padding-top: 40px;
}
.page.home nav ul li {
  display: inline-block;
  margin: 0px 0px;
}
.page.home nav ul li a {
  border-radius: 20px;
  color: #000000;
  padding: 10px 12px;
}
.page.home nav ul li a:hover {
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
}
.page.home nav ul li a.active {
  background-color: #464646;
}
.scroll {
  position: fixed;
  display: none;
}
.scroll#description {
  display: block;
  top: 140px;
  left: 0px;
  z-index: 2;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px 0px;
}
.scroll#description header h1 {
  font-size: 20px;
  font-weight: 200;
}
.scroll#description header b {
  display: block;
  font-size: 60px;
  font-weight: bold;
}
.scroll#description section {
  margin: 30px 0px;
}
.scroll#description section p {
  font-size: 16px;
}
.scroll#start {
  display: block;
  bottom: 20px;
  left: 50%;
  z-index: 100;
  width: 240px;
  margin-left: -120px;
  color: #666666;
  text-align: center;
}
.scroll#start h2 {
  font-size: 36px;
  margin: 0px;
  padding: 0px;
}
.scroll#start .glyphicon {
  font-size: 24px;
}
.scroll#developer {
  display: block;
  top: 240px;
  left: 100px;
  z-index: 3;
}
.scroll#developer img:not(:first-child) {
  display: none;
}
.scroll#app {
  top: 410px;
  left: 360px;
  z-index: 4;
}
.scroll#app img {
  width: 128px;
}
.scroll#app img:not(:first-child) {
  display: none;
}
.scroll#cloud {
  top: -300px;
  left: 450px;
  z-index: 2;
}
.scroll#cloud img {
  width: 480px;
}
.scroll.star {
  top: 320px;
  z-index: 5;
}
.scroll.star img {
  width: 96px;
}
.scroll.star#star-1 {
  left: 770px;
}
.scroll.star#star-2 {
  left: 780px;
}
.scroll.star#star-3 {
  left: 790px;
}
.scroll.user#user-1 {
  top: -100px;
  left: -100px;
  z-index: 1;
}
.scroll.user#user-2 {
  top: 240px;
  left: -160px;
  z-index: 3;
}
.scroll.user#user-3 {
  top: 640px;
  left: -100px;
  z-index: 3;
}
.scroll.user#user-4 {
  top: -200px;
  left: 900px;
  z-index: 1;
}
.scroll.user#user-5 {
  top: 320px;
  left: 1600px;
  z-index: 3;
}
.scroll.user#user-6 {
  top: 1000px;
  left: 960px;
  z-index: 3;
}
.scroll.dialog {
  display: none;
  z-index: 5;
}
.scroll.dialog#dialog-1 {
  top: 180px;
  left: 880px;
}
.scroll.dialog#dialog-2 {
  top: 100px;
  left: 520px;
}
.scroll.dialog#dialog-3 {
  top: 480px;
  left: 450px;
}
.modal iframe {
  border-width: 0px;
}
.btn {
  border-width: 0px;
}
