html, body, .container{
	width: 100%;
	overflow-x:hidden;
}

.container{

}

.skrollable {
	position: fixed;
	z-index: 100;
}

.skrollable .skrollable {
	position: absolute;
}

.skrollable .skrollable .skrollable {
	position: static;
}

.stage{
	position: relative;
	width: 100%;
	height: 1000px;
}

.developer{
	width: 300px;
	left:48%;
	margin-left: -150px;
}

.developer img{
	width: inherit;
}

.app{
	top:120px;
	left:48%;
	margin-left: -60px;
	width: 200px;
	
}

.app img{
	width: inherit;
}

.cloud{
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -300px;
	width: 600px;
}

.cloud.skrollable-after{
	bottom: auto;
	position: fixed;
	z-index: 99;
}

.cloud img{
	width: inherit;	
}

