<div class="container">
    <div class="row">
        <div class="col-md-6">
            <header>
                <h1><%= title %></h1>
            </header>
        </div>

        <div class="col-md-6">
            <nav>
                <ul>
                    <li><a><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li><a>About</a></li>
                    <li><a>Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
