<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>

        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/index.css">
    </head>
    <body>
        <section id="home" class="page">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <header>
                            <h1><%= title %></h1>
                        </header>
                    </div>

                    <div class="col-md-6">
                        <nav>
                            <ul>
                                <li><a><span class="glyphicon glyphicon-home"></span> Home</a></li>
                                <li><a>About</a></li>
                                <li><a>Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>

        <div id="start" class="scroll"
            data-0-start="opacity:1;"
            data-300-start="opacity:0;">
            <h2>Introduction</h2>
            <span class="glyphicon glyphicon-chevron-down"></span>
        </div>

        <div id="developer" class="scroll"
            data-900-start="left:100px; z-index:3;"
            data-2700-start="left:420px;"
            data-11000-start="left:420px; z-index:4;"
            data-14000-start="left:2000px;">
            <img src="/images/skrollr/developer.png">
        </div>

        <div id="app" class="scroll"
            data-900-start="left:360px; z-index:4;"
            data-2700-start="left:485px;"
            data-6000-start="top:410px; left:485px;"
            data-8000-start="top:265px; left:620px; z-index:3;">
            <img src="/images/skrollr/app.png"
                data-500-start="opacity:0;"
                data-900-start="opacity:1;"
                data-6000-start="width:64px;"
                data-8000-start="width:128px;">
        </div>

        <div id="cloud" class="scroll"
            data-0-start="top:-300px;"
            data-10-start="top:-240px;"
            data-6000-start="top:200px;">
            <img src="/images/skrollr/cloud.png">
        </div>

        <div id="user-1" class="scroll user"
            data-13000-start="top:-100px; left:-100px;"
            data-15000-start="top:160px; left:420px;">
            <img src="/images/skrollr/user-1.png">
        </div>

        <div id="user-2" class="scroll user"
            data-14000-start="top:240px; left:-120px;"
            data-16000-start="top:320px; left:320px;">
            <img src="/images/skrollr/user-2.png">
        </div>

        <div id="user-3" class="scroll user"
            data-13500-start="top:640px; left:-100px;"
            data-15500-start="top:420px; left:540px;">
            <img src="/images/skrollr/user-3.png">
        </div>

        <div id="user-4" class="scroll user"
            data-14000-start="top:-200px; left:900px;"
            data-16000-start="top:80px; left:720px;">
            <img src="/images/skrollr/user-4.png">
        </div>

        <div id="user-5" class="scroll user"
            data-12500-start="top:320px; left:1600px;"
            data-14500-start="top:240px; left:900px;">
            <img src="/images/skrollr/user-5.png">
        </div>

        <div id="user-6" class="scroll user"
            data-13000-start="top:1000px; left:960px;"
            data-15000-start="top:400px; left:800px;">
            <img src="/images/skrollr/user-6.png">
        </div>

        <script src="/javascripts/skrollr.min.js"></script>
        <script src="/javascripts/index.js"></script>
    </body>
</html>
