<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>

        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/index.css">
    </head>
    <body>
        <section id="home" class="page">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <header>
                            <h1><%= title %></h1>
                        </header>
                    </div>

                    <div class="col-md-6">
                        <nav>
                            <ul>
                                <li><a><span class="glyphicon glyphicon-home"></span> Home</a></li>
                                <li><a>About</a></li>
                                <li><a>Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>

        <div id="start" class="scroll"
            data-0-start="opacity:1;"
            data-300-start="opacity:0;">
            <h2>Introduction</h2>
            <span class="glyphicon glyphicon-chevron-down"></span>
        </div>

        <div id="developer" class="scroll"
            data-900-start="left:100px;"
            data-2700-start="left:500px;"
            data-11000-start="left:500px"
            data-14000-start="left:2000px;">
            <img src="/images/skrollr/developer.png">
        </div>

        <div id="app" class="scroll"
            data-900-start="left:360px"
            data-2700-start="left:565px;"
            data-6000-start="top:410px; left:565px;"
            data-8000-start="top:160px; left:640px;">
            <img src="/images/skrollr/app.png"
            data-500-start="opacity:0;"
            data-900-start="opacity:1;">
        </div>

        <div id="cloud" class="scroll"
            data-0-start="top:-300px;"
            data-10-start="top:-240px"
            data-8000-start="top:100px;">
            <img src="/images/skrollr/cloud.png">
        </div>

        <script src="/javascripts/skrollr.min.js"></script>
        <script src="/javascripts/index.js"></script>
    </body>
</html>
