<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>

        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/index.css">
    </head>
    <body>
        <section id="home" class="page">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <header>
                            <h1><%= title %></h1>
                        </header>
                    </div>

                    <div class="col-md-6">
                        <nav>
                            <ul>
                                <li><a><span class="glyphicon glyphicon-home"></span> Home</a></li>
                                <li><a>About</a></li>
                                <li><a>Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>

        <div id="start" class="scroll"
            data-0-start="opacity:1;"
            data-300-start="opacity:0;">
            <h2>Introduction</h2>
            <span class="glyphicon glyphicon-chevron-down"></span>
        </div>

        <div id="developer" class="scroll"
            data-900-start="left:100px; z-index:3;"
            data-2700-start="left:420px;"
            data-11000-start="left:420px; z-index:4;"
            data-14000-start="left:2000px;">
            <img src="/images/skrollr/developer.png">
        </div>

        <div id="app" class="scroll"
            data-900-start="left:360px; z-index:4;"
            data-2700-start="left:485px;"
            data-6000-start="top:410px; left:485px;"
            data-8000-start="top:280px; left:620px; z-index:3;">
            <img src="/images/skrollr/app.png"
                data-500-start="opacity:0;"
                data-900-start="opacity:1;"
                data-6000-start="width:64px;"
                data-8000-start="width:128px;">
        </div>

        <div id="cloud" class="scroll"
            data-0-start="top:-300px;"
            data-10-start="top:-240px;"
            data-6000-start="top:200px;">
            <img src="/images/skrollr/cloud.png">
        </div>

        <div id="user-1" class="scroll user"
            data-12999-start="display:none;"
            data-13000-start="top:-100px; left:-100px; display:block;"
            data-15000-start="top:160px; left:420px;"
            data-17000-start="transform:rotate(0deg);"
            data-17500-start="transform:rotate(15deg);"
            data-18000-start="transform:rotate(15deg);"
            data-18500-start="transform:rotate(0deg);"
            data-45000-start="top:160px; display:block;"
            data-47000-start="top:-160px; display:none;">
            <img src="/images/skrollr/user-1.png"
                data-17000-start="display:inline;"
                data-17750-start="display:none;">
            <img src="/images/skrollr/user-1-highlighted.png"
                data-17000-start="display:none;"
                data-17750-start="display:inline;">
        </div>

        <div id="dialog-2" class="scroll dialog"
            data-28750-start="display:none;"
            data-29000-start="display:block;"
            data-29250-start="display:none;"
            data-29750-start="display:block;"
            data-36000-start="top:100px; left:520px;"
            data-40000-start="top:280px; left:720px;">
            <img src="/images/skrollr/dialog-2.png">
        </div>

        <div id="user-2" class="scroll user"
            data-13999-start="display:none;"
            data-14000-start="top:240px; left:-160px; display:block;"
            data-16000-start="top:320px; left:320px;"
            data-20000-start="transform:rotate(0deg);"
            data-20500-start="transform:rotate(20deg);"
            data-21000-start="transform:rotate(20deg);"
            data-21500-start="transform:rotate(0deg);"
            data-45000-start="top:320px; display:block;"
            data-47000-start="top:1000px; display:none;">
            <img src="/images/skrollr/user-2.png"
                data-20000-start="display:inline;"
                data-20750-start="display:none;">
            <img src="/images/skrollr/user-2-highlighted.png"
                data-20000-start="display:none;"
                data-20750-start="display:inline;">
        </div>

        <div id="user-3" class="scroll user"
            data-12499-start="display:none;"
            data-13500-start="top:640px; left:-100px; display:block;"
            data-15500-start="top:420px; left:540px;"
            data-21000-start="transform:rotate(0deg);"
            data-21500-start="transform:rotate(15deg);"
            data-22000-start="transform:rotate(15deg);"
            data-22500-start="transform:rotate(0deg);"
            data-45000-start="top:420px; display:block;"
            data-47000-start="top:1000px; display:none;">
            <img src="/images/skrollr/user-3.png"
                data-21000-start="display:inline;"
                data-21750-start="display:none;">
            <img src="/images/skrollr/user-3-highlighted.png"
                data-21000-start="display:none;"
                data-21750-start="display:inline;">
        </div>

        <div id="dialog-3" class="scroll dialog"
            data-29500-start="display:none;"
            data-29750-start="display:block;"
            data-30000-start="display:none;"
            data-30500-start="display:block;"
            data-36000-start="top:480px; left:450px;"
            data-40000-start="top:320px; left:540px;">
            <img src="/images/skrollr/dialog-3.png">
        </div>

        <div id="user-4" class="scroll user"
            data-13999-start="display:none;"
            data-14000-start="top:-200px; left:900px; display:block;"
            data-16000-start="top:80px; left:720px;"
            data-19500-start="transform:rotate(0deg);"
            data-20000-start="transform:rotate(-25deg);"
            data-20500-start="transform:rotate(-25deg);"
            data-21000-start="transform:rotate(0deg);"
            data-45000-start="top:80px; display:block;"
            data-47000-start="top:-200px; display:none;">
            <img src="/images/skrollr/user-4.png"
                data-19500-start="display:inline;"
                data-20250-start="display:none;">
            <img src="/images/skrollr/user-4-highlighted.png"
                data-19500-start="display:none;"
                data-20250-start="display:inline;">
        </div>

        <div id="user-5" class="scroll user"
            data-12499-start="display:none;"
            data-12500-start="top:320px; left:1600px; display:block;"
            data-14500-start="top:240px; left:900px;"
            data-18500-start="transform:rotate(0deg);"
            data-19000-start="transform:rotate(-20deg);"
            data-19500-start="transform:rotate(-20deg);"
            data-20000-start="transform:rotate(0deg);"
            data-45000-start="top:240px; display:block;"
            data-47000-start="top:-160px; display:none;">
            <img src="/images/skrollr/user-5.png"
                data-18500-start="display:inline;"
                data-19250-start="display:none;">
            <img src="/images/skrollr/user-5-highlighted.png"
                data-18500-start="display:none;"
                data-19250-start="display:inline;">
        </div>

        <div id="dialog-1" class="scroll dialog"
            data-29000-start="display:none;"
            data-29250-start="display:block;"
            data-29500-start="display:none;"
            data-30000-start="display:block;"
            data-36000-start="top:180px; left:880px;"
            data-40000-start="top:220px; left:600px;">
            <img src="/images/skrollr/dialog-1.png">
        </div>

        <div id="user-6" class="scroll user"
            data-12999-start="display:none;"
            data-13000-start="top:1000px; left:960px; display:block;"
            data-15000-start="top:400px; left:800px;"
            data-23000-start="transform:rotate(0deg);"
            data-23500-start="transform:rotate(-15deg);"
            data-24000-start="transform:rotate(-15deg);"
            data-24500-start="transform:rotate(0deg);"
            data-45000-start="top:400px; display:block;"
            data-47000-start="top:1000px; display:none;">
            <img src="/images/skrollr/user-6.png"
                data-23000-start="display:inline;"
                data-23750-start="display:none;">
            <img src="/images/skrollr/user-6-highlighted.png"
                data-23000-start="display:none;"
                data-23750-start="display:inline;">
        </div>

        <script src="/javascripts/skrollr.min.js"></script>
        <script src="/javascripts/index.js"></script>
    </body>
</html>
